<div class="container">
    <div class="hero-unit">
      <h1>Cheerio!</h1>
      <p>You now have</p>
      <ul>
          <li>HTML5 Boilerplate</li>
          <li>jQuery</li>
          <li>Ember 1.0pre</li>
          <li>Handlebars 1.0 beta</li>
          <li>Mocha</li>
      </ul>
      <p>installed.</p>
      <h3>Enjoy coding! - Yeoman</h3>
    </div>
</div>

{{outlet}}
